@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

.search-wrapper {
  width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  height: 360px;
  padding: 20px 40px;
  font-family: 'Comic Neue', cursive;
  background-image: url('https://img5.goodfon.com/wallpaper/nbig/8/9b/trey-trimble-by-trey-trimble-synth-retrowave-synthwave-fon-2.jpg');
  background-size: cover;
  color: #fff;
  z-index: 0;
  /* background-position: center; */
}

.header h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  padding: 10px 20px;
  margin-bottom: 40px;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  border: none;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.35);
  z-index: -1;
}

.games-list {
  padding: 20px 40px;
}

.games-list h1 {
  text-transform: uppercase;
}

.list p {
  font-size: 1.5rem;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.btn-change {
  padding: 10px 20px;
  background-color: #f80;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-change:hover {
  box-shadow: 0 0 3px #000;
}
